body {
    background-color: aliceblue;
}

@keyframes settingsSlide {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes settingsSlideOut {
    0% {
        transform: translateY(0%);

    }

    100% {
        transform: translateY(-100%);
        display: none;
    }
}

.leftMenu {
    display: grid;
    grid-template-columns: 20%;
    grid-template-rows: 30% 70%;
}



.logo {
    position: absolute;
    top: 0%;
    left: 0%;
    user-select: none;
    width: 5vw;
    height: 5vw
}

.navBar {
    width: 100vw;
    height: 5vw;
    border: 2px #b4d4e4 solid;

}




/* .taskWrapper:hover {
    transition: all .5s;
    width: 20%;
    height: 60%;
} */




/* .calendarWrapper:hover {
    transition: all .5s;
    width: 22%;
    height: 60%;
} */


.tasks {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.taskTitle {
    margin-bottom: 10px;

}

.login {
    width: 80%;
    height: 10%;
    margin-top: 1vw;
}

.settingsButton {

    position: absolute;
    top: 0%;
    right: 0%;
    user-select: none;
    width: 5vw;
    height: 5vw;

}

.settingsButton img {
    position: absolute;

}

.settings {
    animation: .6s ease-out 0s 1 settingsSlide;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 20vw;
    height: 40vw;
    margin-left: 40vw;
    background-color: gray;
    border: 3px solid #b4d4e4;
}

.settingsHide {
    animation: .3s ease-out 0s 1 settingsSlideOut;
    position: absolute;



    justify-content: center;
    transform: translateY(-100%);
    width: 20vw;
    height: 40vw;
    margin-left: 40vw;
    background-color: gray;
    border: 3px solid black;
}
.dashboardContainer{
    display: flex;
    width: 100%;
    height:100%
}
.container{
    width: 100%;
    height: 100%;
    
}
.sidebarContainer{
    display: grid;
    grid-template-rows: 30% 70%;
    width: 30%;
    height: 100%;
    outline: 1px solid black;
}
.taskContainer{
    display: flex;
}
.mainDashContainer{
    
    
    display: flex;
    width: 70%;
    height: 100%;
    
    justify-content: space-around;
    row-gap: 4%;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.dashWindowContainer{
    display: grid;
    width: 35%;
    height: 45%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    outline: 1px solid #557586;

}
.dashWindowPane{
    background-image: radial-gradient(circle, #b1c9d4 10%,#d7f2ff  100%);
    outline: 1px solid #557586;
}